.header{
    background: $dark_blue;
}
.content__header{
    align-items: centre;
    display: flex;
    justify-content: space-between; //try the others
    padding: $s-size, 0 ;
}

.header__title{
color: white;
text-decoration:none;
h1{
    margin: 0 ;

}
}